.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
test/**
src/**
demo/**
scripts/**
images/screenshot-*
images/demo.gif
node_modules/**
.gitignore
.mocharc.json
esbuild.js
eslint.config.mjs
tsconfig.json
**/*.map
**/*.ts
